.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table {
    font-size: 0.95rem;
}

.table th,
.table td {
    vertical-align: center;
    padding: 1rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table th {
    font-weight: bolder;
    text-align: start;
}


/* Css for the admission student pills menues */

#menuTabs .nav-item a {
    width: 74%;
}

.select2-container {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 37px !important;
    /* Adjust height */
    line-height: 48px !important;
    /* Center text vertically */
    padding: 4px 5px !important;
    /* Adjust padding */
    border: 1px solid #C0C0C0 !important;
    /* Ensure border styling */
    border-radius: 5px !important;
    /* Rounded corners */
    background-color: #FFFFFF !important;
}

.select2-container .select2-selection__rendered {
    color: #000000 !important;
    font-size: 16px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
    width: 40px !important;
}

.select2-container .select2-dropdown {
    border-radius: 5px !important;
    border: 1px solid #C0C0C0 !important;
}

.select2-container .select2-search--dropdown .select2-search__field {
    padding: 5px !important;
    font-size: 12px !important;
}

.my-ul {
    padding-left: 20px;
    padding-right: 20px;
}

.my-ul .first-li,
.my-ul .avatar {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.my-ul .third-li {
    display: flex;
    align-items: center;
}

.my-ul .third-li ul li {
    list-style: none;
}

.my-ul li {
    border: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.my-btn {
    color: #8bb7e3;
    outline: 0;
    border: 0;
    background-color: #e1f1fa;
    padding: 5px;
    border-radius: 5px;
}

.my-cng {
    color: #8bb7e3;
    outline: 0;
    border: 0;
    background-color: #e1f1fa;
    padding: 2px 5px;
    border-radius: 5px;
}

.my-ul li .name-login a {
    text-decoration: none;
}

.my-ul .avatar .image {
    width: 40%;
}

.my-ul .avatar .name-login {
    width: 60%;
}

.my-ul .avatar {
    margin: 15px 0 25px 0;
}

.my-ul li .my-lock {
    color: #3699fe;
    background-color: #e1f1fa;
    padding: 10px;
    border-radius: 5px;
}

#sidebar {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -350px;
    z-index: 1050;
    background-color: white;
    border-left: 1px solid #ddd;
    transition: right 0.5s ease;
}

#sidebar.show {
    right: 0;
}